 <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/homepage.css">
<div class="welcome">
  <p>Welcome to Fizz Buzzed, a trusted provider of medical marijuana for patients who need it. Our mission is to improve the health and well-being of our patients by providing safe, effective, and affordable medical marijuana products.</p>
  <p>We understand that each patient is unique, which is why we offer a wide range of strains and products to meet your specific needs. Our experienced team of medical professionals will work with you to find the best strain and delivery method to help alleviate your symptoms.</p>
  <p>At Fizz Buzzed, we are committed to providing the highest quality medical marijuana products. All of our products are rigorously tested for quality and purity, and we only work with trusted growers and suppliers who meet our strict standards.</p>
  <p>We also understand the importance of confidentiality and privacy for our patients. Your personal information will be kept secure and confidential at all times.</p>
  <p>Thank you for considering Fizz Buzzed as your provider of medical marijuana. We are committed to improving the health and well-being of our patients and look forward to serving you.</p>
</div>

<div class="imgholder">
  <img  class="mjimage" src="/images/aurora-cannabis-stock-6-768x432.jpg" alt="hand holding leaf in sun">
</div>
