header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vmin;
  background-image: url(../images/Chemdawg.png);
  background-position: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(95, 158, 160, 0.733);
}

.title {
  font-size: 12vmin;
  font-family: "Geostar", cursive;
  color: cadetblue;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #0f6807c3;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
